@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.bestsellers {
    font-size: 1.1rem;
   }

form {
  width: 400px;
  height: 45px;
  display: flex;
}

.btn {
  background: rgb(108, 186, 240);
  background: -moz-linear-gradient(
    53deg,
    rgba(108, 186, 240, 1) 50%,
    rgba(243, 200, 127, 1) 100%
  );
  background: -webkit-linear-gradient(
    53deg,
    rgba(108, 186, 240, 1) 50%,
    rgba(243, 200, 127, 1) 100%
  );
  background: linear-gradient(
    53deg,
    rgba(108, 186, 240, 1) 50%,
    rgba(243, 200, 127, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6cbaf0",endColorstr="#f3c87f",GradientType=1);
  padding: 10px 30px;
  letter-spacing: 1px;
  cursor: pointer;

}

.btn:active {
   font-size: larger;
}

.basket-big {
    font-size: 30px;
}

.wide {
    width: 100%;
    justify-content: space-evenly;
    
}

.book {
  width: 15rem;
  padding: 10px 15px;
}

.heading {
  font-size: 1.5rem;
  margin: 10px 5px;
  padding: 10px 15px;
}

.all-category {
 font-size: 1.1rem;
  margin: 10px 5px;
  padding: 15px 25px;
  cursor: pointer;
}

.all-category:hover {
    color: #3e73cf;
}

header {
  height: 25vh;
  background-image: url("https://cdn.pixabay.com/photo/2021/04/28/09/44/book-6213537__480.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category {
  list-style-type: none;
  text-transform: capitalize;
  cursor: pointer;
}

.category:hover {
  color: #3e73cf;
}

.imgBook {
  cursor: pointer;
}

.selected {
  font-weight: 400;
  color: rgb(52, 80, 241);
  text-decoration: underline;
}
